@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	background-color: #121214;
	font-family: Roboto;
	height: 100%;
}

.container {
	width: 100%;
	margin-top: 2%;
	
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container-header {
	width: 100%;
	height: 400px;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

h1 {
	color: #F0F0F4;
	font-size: 30px;
	margin-bottom: 50px;
	letter-spacing: 3px;
}

h2 {
	font-size: 100px;
	margin-bottom: 50px;
}

h3 {
	color: #F0F0F4;
	text-align: center;
	margin: 50px;
}

.input {
	outline: none;
	width: 30%;
	height: 50px;

	text-align: center;

	margin-bottom: 20px;

	font-size: 20px;
	color: rgba(0, 0, 0, 0.7);
}

.input::placeholder {
	padding: 20px;
	text-align: center;
}

.search-button {
	border: none;
	width: 30%;
	height: 50px;
	cursor: pointer;

	background-color:#FF3E86;

	font-size: 20px;
	color: #F0F0F4;
	transition: background 1s;
}

.search-button:hover {
  background-color:rgba(0, 0, 0, 0.7);
}

.load-more {
	border: none;
	width: 30%;
	height: 50px;
	cursor: pointer;

	margin: 2em 0;

	background-color:#FF3E86;

	font-size: 20px;
	color: #F0F0F4;
	transition: background 1s;
}
.load-more:hover {
	background-color:rgba(0, 0, 0, 0.7);
}

.remove {
	opacity: 0;
}

.reveal {
	opacity: 1;
}

.info-text {
	font-size: 1.5em;
	color: #F0F0F4;
	margin-top: 2em;
	text-align: center;
}

.loading {
	font-size: 1.5em;
	color: #F0F0F4;
	margin-top: 2em;
}

.users-list{
	width: 90%;
	margin-top: 20px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	justify-items: center;
}

.user-item {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	background-color: #202024;
	border-bottom: 1px solid #121214;
}

.user-item img{
	margin: 10px;
	width: 150px;
	height: 150px;
	text-align: center;
}

.user-item p{
  font-size: 20px;
  color: #F0F0F4;

  margin: 20px;
}

.user-item a {
	text-decoration: none;
	font-size: 20px;
	color: #F0F0F4;

	margin-top: 5px;
	margin-bottom: 10px;

	width: 150px;
	text-align: center;

	background-color:#FF3E86;

	transition: background-color 1s;
}

.user-item a:hover{
	width: 150px;
	border-radius: 1px;
	text-align: center;
	background-color:rgba(0, 0, 0, 0.7);
}

@media (max-width: 1100px){
	.users-list{	
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 900px){
	h1 {
		font-size: 25px;
	}
	.users-list{	
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 720px){
	h1 {
		font-size: 20px;
	}

	.input {
		width: 90%;
		font-size: 16px;
	}
	
	.search-button {    
		font-size: 16px; 
		width: 90%;
	}    
	
	.user-item img{
		margin: 5px;
		width: 130px;
		height: 130px;
	}
	.user-item p{
		font-size: 16px;
		color: #F0F0F4;
	}
	
	.user-item a {
		width: 130px;
		font-size: 16px;	
	}
	
	.users-list{
		width: 90%;
		grid-template-columns: repeat(2, 1fr);
	}

	.info-text {
		font-size: 1.5em;
	}
}

@media (max-width: 500px){
	h1 {
		font-size: 16px;
	}
	.info-text {
		font-size: 1em;
	}
}

@media (max-width: 359px){
	h1 {
		font-size: 14px;
	}
	.users-list{
		grid-template-columns: repeat(1, 1fr);
	}
	.info-text {
		font-size: 0.7em;
	}
}